body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0; /* Light grey background for the whole page */
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: #b0bec5; /* Light blue-grey background for outer box */
    padding: 40px; /* Space around inner box */
}

.inner-box {
    border-radius: 60px;
    background-color: #0b455c;
    padding: 40px;
    padding-right: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
}

.inner-box h2 {
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-group input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #ffffff;
}
